---
BasedOnStyle: LLVM
ColumnLimit: 120
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
BreakBeforeBraces: Linux

AlignEscapedNewlines: Left
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
BinPackParameters: false
IndentCaseLabels: false
...
